@font-face {
  font-family: "Connection";
  src: url("fonts/connection-font/Connection-arMJ.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Connection";
  src: url("fonts/connection-font/ConnectionBold-ER1g.otf") format("opentype");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #884cf0;
  font-family: "Connection", sans-serif;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background: #b4f04c;
}

.left-group {
  /*Estilização do grupo de itens que fica á esquerda do header (ícone de menu e logo)*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  /*Estilização do ícone de menu ☰*/
  font-size: 35px;
  cursor: pointer;
  margin-right: 15px;
  color: #884cf0;
}

.logo p {
  font-size: 40px;
  color: #884cf0;
  font-weight: 500;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-title p {
  font-size: 100px;
  color: #b4f04c;
  margin-top: 200px;

  text-shadow: -2px -2px 0 #8ebd3e, 2px -2px 0 #8ebd3e, -2px 2px 0 #8ebd3e,
    2px 2px 0 #8ebd3e;
    font-weight: 300;
}

.selecao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* ocupa toda a altura da tela */
  text-align: center;
}

.selecao button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  font-family: "Connection";
  background-color: #b4f04c;
  color: #884cf0;
  cursor: pointer;
  font-weight: 500;
  font-size: 35px;
}

.selecao button:hover {
  background-color: #a3dd3e;
}

.dificuldade-title {
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
  margin-top: 100px;
  text-shadow: -1px -1px 0 #5c30a8, 1px -1px 0 #5c30a8, -1px 1px 0 #5c30a8,
    1px 1px 0 #5c30a8;
}

.botoes-dificuldade {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.botao-dificuldade {
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  color: #884CF0;
  border: none;
  border-radius: 0;
  font-family: "Connection", monospace;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  box-shadow: 
    0 0 0 2px #5c30a8,      
    4px 4px 0 0 #5c30a8;    
  transition: transform 0.1s ease;
}

.botao-dificuldade:hover {
  transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #5c30a8,
    5px 5px 0 0 #5c30a8;
}

.botao-dificuldade.selected {
  background-color: #B4F04C;
  color: #884CF0;
}

.botao-dificuldade.selected {
  background-color: white;
  color: #884CF0;
}

#descricao-dificuldade {
 font-size: 18px;
  color: white;
  max-width: 400px;
  min-height: 40px; /* <- reservando espaço */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

#btn-jogar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  font-family: "Connection";
  background-color: #884cf0;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 35px;
  box-shadow:
    0 0 0 3px white,   /* borda interna branca */
    4px 4px 0 0 white; /* pixel offset */
  transition: transform 0.1s ease;
}

#btn-jogar:hover {
  transform: translate(-1px, -1px);
  box-shadow:
    0 0 0 3px #5c30a8,
    5px 5px 0 0 #5c30a8;
}

#btn-jogar:disabled {
  background-color: white;
  color: #884CF0;
  cursor: not-allowed;
    box-shadow:
    0 0 0 3px #5c30a8,
    4px 4px 0 0 #5c30a8;
}

.decoracao {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0; /* atrás dos elementos principais */
  top: 350px;
  color: #5c30a8;
}

.decoracao img {
  width: 600px; /* ajuste conforme necessário */
  height: auto;
}

footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #B4F04C;
  color: #884CF0;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  z-index: 10;
  line-height: 1.5; /* importante para evitar sobreposição */
}

.simbolo {
  font-family: Arial, sans-serif; /* ou outra fonte confiável */
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}


