@font-face{
    font-family: "Connection";
    src: url("fonts/connection-font/Connection-arMJ.otf") format("opentype");
    font-weight: 300;
}

@font-face{
    font-family: "Connection";
    src: url("fonts/connection-font/ConnectionBold-ER1g.otf") format("opentype");
    font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #884CF0;
    font-family: "Connection", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background: #B4F04C;
}

.left-group {
  /*Estilização do grupo de itens que fica á esquerda do header (ícone de menu e logo)*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  /*Estilização do ícone de menu ☰*/
  font-size: 35px;
  cursor: pointer;
  margin-right: 15px;
  color: #884CF0;
}

.logo p {
    font-size: 40px;
    color: #884CF0;
    font-weight: bold;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-title p {
  font-size: 80px;
  color: #B4F04C;
  margin-top: 40px;

  text-shadow:
    -2px -2px 0 #8ebd3e,
     2px -2px 0 #8ebd3e,
    -2px  2px 0 #8ebd3e,
     2px  2px 0 #8ebd3e;
}

 .main-title select, .main-title button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
      }

      .main-title select {
        background-color: white;
        color: #884CF0;
      }

      .main-title button {
        background-color: #B4F04C;
        color: #884CF0;
        cursor: pointer;
        font-weight: bold;
      }

      .main-title button:hover {
        background-color: #a3dd3e;
      }

.sudoku-board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sudoku-board table {
  border-collapse: collapse;
}

.sudoku-board td {
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  font-family: "Connection", sans-serif;
  border: 3px solid #8ebd3e;
  color: #B4F04C
}

/* Linhas mais grossas para separar os blocos 3x3 */
.sudoku-board tr:nth-child(3n) td {
  border-bottom: 6px solid #485c27;
}
.sudoku-board td:nth-child(3n) {
  border-right: 6px solid #485c27;
}

.sudoku-board tr:first-child td {
  border-top: 6px solid #485c27;
}
.sudoku-board td:first-child {
  border-left: 6px solid #485c27;
}


footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #B4F04C;
  color: #884CF0;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  z-index: 10;
  line-height: 1.5; /* importante para evitar sobreposição */
}

.simbolo {
  font-family: Arial, sans-serif; /* ou outra fonte confiável */
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.timer-container {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.timer {
 font-size: 40px;
  color: #B4F04C;
  font-weight: bold;
  text-shadow: 1px 1px #485c27;
}

#btn-pausa {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #B4F04C;
  color: #884CF0;
  cursor: pointer;
  font-weight: bold;
  font-family: "Connection";
  box-shadow: 
  0 0 0 2px #485c27,      
  4px 4px 0 0 #485c27;    
  transition: transform 0.1s ease;
}

#btn-pausa:hover {
  transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #485c27,
    5px 5px 0 0 #485c27;
}

#teclado {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
  justify-content: center;
}

#teclado button {
  font-size: 25px;
  padding: 15px;
  background-color: #B4F04C;
  color: #884CF0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: "Connection";
  box-shadow: 
  0 0 0 2px #485c27,      
  4px 4px 0 0 #485c27;    
  transition: transform 0.1s ease;
}

#btn-pausa:hover {
  background-color: #a3dd3e;
  transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #485c27,
    5px 5px 0 0 #485c27;
}

#teclado .botao-apagar {
  grid-column: span 3;
  text-align: center;
  box-shadow: 
  0 0 0 2px #485c27,      
  4px 4px 0 0 #485c27;    
  transition: transform 0.1s ease;
}

#teclado .botao-refazer {
  grid-column: span 3;
  text-align: center;
  box-shadow: 
    0 0 0 2px #485c27,
    4px 4px 0 0 #485c27;
    transition: transform 0.1s ease;
}

#teclado button:hover {
  background-color: #a3dd3e;
  transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #485c27,
    5px 5px 0 0 #485c27;
}


.botoes-controle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  text-align: center;
  margin-top: 25px;
}

.botoes-controle button {
  font-size: 25px;
  padding: 10px;
  background-color: #B4F04C;
  color: #884CF0;
  cursor: pointer;
  font-weight: bold;
  font-family: "Connection";
  box-shadow: 
  0 0 0 2px #485c27,      
  4px 4px 0 0 #485c27;    
  transition: transform 0.1s ease;
}

.botoes-controle button:hover {
  background-color: #a3dd3e;
  transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #485c27,
    5px 5px 0 0 #485c27;
}

.seletor-dificuldade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  font-family: "Connection", sans-serif;
  color: white;
  font-size: 30px;
}

.seletor-dificuldade label {
  font-family: "Connection";
  font-weight: bold;
  margin-bottom: 5px;
  color: #B4F04C;
  text-shadow: 1px 1px #485c27;
}

#dificuldade-select {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #B4F04C;
  color: #884CF0;
  border: 2px solid #5c30a8;
  cursor: pointer;
  font-weight: bold;
  font-family: "Connection";
    transform: translate(-1px, -1px);
  box-shadow: 
    0 0 0 2px #485c27,
    5px 5px 0 0 #485c27;
}

#dificuldade-select:hover {
  background-color: #a1d645;
}

.campo-jogo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.elementos-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

/* Célula selecionada */
.celula-selecionada {
  background-color: #f4b942; /* cor amarela como na imagem */
}

/* Linha, coluna e bloco da célula selecionada */
.destacado {
  background-color: #6931ca; /* cor azul clara como na imagem */
}

.erro {
  color: red !important;
  font-weight: 300;
}